.page-title {
    text-align: center;
    font-family: $primary-font;
    font-weight: 700;
    color: #222;
}

.all-posts-main {
    margin-top: 80px;
    margin-bottom: 70px;

    .single-post {
        font-family: $primary-font;

        .post-main {
            @include post-box;
        }
    }
}