.footer-sec {
    background: #29313a;
    background-image:url(../images/footer.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .logo{
        width: 300px;
        padding-top: 5%;
        display: flex;
        margin: 0 auto;
                @media(min-width:768px){
                   display:block;
                   margin:0;
                }
    }
    .footer-text {
        color: #fff;
        font-family: bluetext, sans-serief;
        font-size: 1em;
        padding-top: 25px;
        
        // .footer-heading{
        //     text-align: center;
        //     @media(min-width:768px){
        //         text-align: left;
        //         padding-top: 60px;
        //         padding-bottom: 8px;
        //     }
        // }
        // .footer-heading {
        //     color: #fff;
        //     margin-bottom: 20px;
        //     font-family: 'Poppins', sans-serif;
        // }
        ul {
            padding-left: 0;
            margin: 0;
            list-style-type: none;

            li {
                margin-bottom: 20px;
                font-family: 'Poppins', sans-serif;
                text-align: center;
                @media(min-width:768px){
                    text-align: left;
                }

                a{
                    color: inherit;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        .footer-heading {
            color: #fff;
            margin-bottom: 20px;
            font-family: 'Poppins', sans-serif;
            text-align: center;
                @media(min-width:768px){
                    text-align: left;
                }
        }
        // .footer-menu2 {
        //     padding-left: 0;
        //     li {
        //         list-style-type: none;
        //         margin-bottom: 20px;
        //         font-family: 'Poppins', sans-serif;
        //         text-align: center;
        //         @media(min-width:768px){
        //             text-align: left;
        //         }
                
        //     }
        // }
        .footer-heading {
            color: #fff;
            margin-bottom: 20px;
            font-family: 'Poppins', sans-serif;
        }
        .footer-menu3 {
            padding-left: 0;
            li {
                list-style-type: none;
                margin-bottom: 20px;
                text-align: center;
                @media(min-width:768px){
                    text-align: left;
                }
            }
        }
    }
    // .footer-menu{
    //         li{
    //             list-style-type: none;
    //         }
    // }
    // // .footer-text1{
    //     text-align: center;
    //     color:#fff;
    //     font-family:bluetext,sans-serief;
    //     font-size:1em;
    //     padding-top: 100px;
    //     padding-bottom:50px;

    // }
    }

/* copyright css */
.copy-right {
    background-color: black;
    .copyright-text {
        color: #fff;
        text-align: center;
        font-size: 1em;
        padding-top: 15px;
        font-family: 'Poppins', sans-serif;
    }
}
